@using Messanger.Controllers;

@{
    ViewData["Title"] = "ChangePatronymic";
    Layout = "_LayoutUserAccount";
}
@model Messanger.Models.ChangesSettings.ChangesPatronymic;
@section CenterScreen
    {
    <div class="RenderSection-center-header">
        <div class="header-avatar">

            <div class="circle-photo-avatar">
                @if (ViewBag.Photo != null)
                {
                    <img src="data:image/jpeg;base64,@(ViewBag.Photo)" />
                }
                else
                {
                    <img src="~/img/icons/test.png" />
                }

            </div>

            <div class="data-about-me">

                <div class="name-data-about-me">
                    <h2>@dataStepStatic.name @dataStepStatic.surname @dataStepStatic.patr</h2>
                </div>

                <div class="email-data-about-me">
                    <h2>@dataStepStatic.email</h2>
                </div>

            </div>
        </div>

        <div class="btn-change">
            <div>
                <form class="inputPhoto-avatar" method="post" action="/Authorization/ChangePhoto" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="image" />
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>

}

@section leftScreen
    {
    <div class="title-changes">
        <h1>Смена отчества</h1>
    </div>

    <div class="input-change-surname" id="input-for-changes">
        @using (Html.BeginForm("ChangePatronymic", "Settings", FormMethod.Post))
        {
            <div class="inputs-error">
                @Html.ValidationMessageFor(x => x._patronymic)
                @Html.EditorFor(x => x._patronymic, new {htmlAttributes = new {placeholder = "Отчетсво"}})
            </div>

            <input type="submit" value="Сохранить" class="SaveChanges-button">


        }
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (ViewBag.patronymic != null)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Вы успешно изменили отчетсво',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
        ViewBag.patronymic = null;
    }
}