@using Messanger.Controllers;

@{
    ViewData["Title"] = "ChangeSurname";
    Layout = "_LayoutUserAccount";
}
@model Messanger.Models.ChangesSettings.ChangesSurname;
@section CenterScreen
    {
    <div class="RenderSection-center-header">
        <div class="header-avatar">

            <div class="circle-photo-avatar">
                @if (dataStepStatic.avatar != null)
                {
                    <img src="data:image/jpeg;base64,@(System.Text.Encoding.UTF8.GetString(dataStepStatic.avatar))" />

                }
                else
                {
                    <img src="~/img/EmptyAvatar.png" />
                }

            </div>

            <div class="data-about-me">

                <div class="name-data-about-me">
                    <h2>@dataStepStatic.name @dataStepStatic.surname @dataStepStatic.patr</h2>
                </div>

                <div class="email-data-about-me">
                    <h2>@dataStepStatic.email</h2>
                </div>

            </div>
        </div>

        <div class="btn-change">
            <div>
                <form class="inputPhoto-avatar" method="post" action="/Authorization/ChangePhoto" enctype="multipart/form-data">
                    <label class="input-file">
                        <input type="file" class="form-control" name="image">
                        <span class="input-file-btn">Выберите фото</span>

                    </label>
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            </div>
        </div>
    </div>

}

@section leftScreen
    {
    <div class="title-changes">
        <h1>Смена фамилии</h1>
    </div>

    <div class="input-change-surname" id="input-for-changes">
        @using (Html.BeginForm("ChangeSurname", "Settings", FormMethod.Post))
        {
            <div class="inputs-error">
                @Html.ValidationMessageFor(x => x._surname)
                @Html.EditorFor(x => x._surname, new {htmlAttributes = new {placeholder = "Фамилия"}})
            </div>

            <input type="submit" value="Сохранить" class="SaveChanges-button">


        }
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (Convert.ToBoolean(TempData["ChangeSurname"]))
    {
        <script>
            Swal.fire({
                title: 'Фамилия успешно изменена',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                }
            })
        </script>
    }
}