
@{
    ViewData["Title"] = "ResetPasswordThree";
    Layout = "_Layout";
}
@model Messanger.Models.ConfirmPasswords
@section panelLogAndResetPassw {

    <body>
        <div class="container">

            <div class="take">
                <div class="logInPanel">
                    <div class="logo">
                        <p class="Text-logo">Namla</p>
                        <div style="width: 11px; height: 5px;"></div>
                        <img src="~/img/Logo-icon.png" />
                    </div>

                    <div class="title-autorisation">
                        <h3>Вход</h3>

                        <div class="GeneralError">
                            @Html.ValidationSummary(true)

                        </div>


                        <div class="autorisation-inputs">

                            @using (Html.BeginForm("ResetPasswordThree", "Authorization", FormMethod.Post))
                            {
                                <div class="login-email">
                                    @Html.ValidationMessageFor(x => x.FirstPass)
                                    @Html.EditorFor(x => x.FirstPass, new {htmlAttributes = new {placeholder = "Введите пароль"}})

                                </div>

                                <div class="login-password">
                                    @Html.ValidationMessageFor(x => x.SecondPass)
                                    @Html.EditorFor(x => x.SecondPass, new {htmlAttributes = new {placeholder = "Повторите пароль"}})

                                </div>


                                <div class="btn-submit-login">
                                    <input type="submit" value="Сохранить">
                                </div>
                            }


                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>
}