@using Messanger.Controllers;
@using Messanger.Scripts;

@{
    ViewData["Title"] = "ResetPasswordTwo";
    Layout = "_Layout";
}
@model Messanger.Models.ConfirmEmail
@section panelLogAndResetPassw 
{
    <body>
        <div class="container">

            <div class="take">
                <div class="logInPanel">
                    <div class="logo">
                        <p class="Text-logo">Namla</p>
                        <div style="width: 11px; height: 5px;"></div>
                        <img src="~/img/Logo-icon.png" />
                    </div>

                    <div class="title-registration">
                        <h3>
                            Восстановление аккаунта
                        </h3>

                        <h2>
                            @{
                                if (dataStepStatic.code == null)
                                    dataStepStatic.code = RandomCodeConfirm.codeConfirm();
                            }
                        </h2>


                        <div class="center-panelAlign">
                            @using (Html.BeginForm("ResetPasswordTwo", "Authorization", FormMethod.Post))
                            {

                                <div class="text-info">
                                    <p>
                                        Введите код отправленный на почтовый адрес
                                    </p>
                                </div>

                                <div class="GeneralError">
                                    @Html.ValidationSummary(true)
                                </div>

                                <div class="inputCode" id="errorMessageCode">
                                    @Html.ValidationMessageFor(x => x.codeConfirmEmail)

                                    <input class="text-box single-line" data-val="true"
                                           data-val-required="Пожалуйста, введите почту" id="codeConfirmEmail"
                                           name="codeConfirmEmail" placeholder="Код" type="text" value="">

                                </div>



                                <div class="btnCode">
                                    <div class="btn-confirm">
                                        <input type="submit" value="Подтвердить">
                                    </div>
                                </div>


                                <div class="showingPass" id="resetCode">
                                    @Html.ActionLink("Выслать код повторно?", "ResetCode", "Authorization")
                                </div>
                            }
                            @{
                                <h3>
                                    <span>@ViewBag.messageResetCode</span>
                                </h3>
                            }
                            <div>

                                <div class="reg-panelInFooter">
                                    <p>Вы ошиблись вводе данных?</p>
                                    @Html.ActionLink("Изменить", "reg", "Reg")
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (Convert.ToBoolean(TempData["Reset"]))
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Аккаунт был создан',
                showConfirmButton: false,
                timer: 2000
            })
        </script>
    }
}
