@using System.Text.RegularExpressions;
@using Messanger.Controllers;
@using Messanger.Models;
@using Messanger.Scripts;

@{
    ViewData["Title"] = "lastStep";
    Layout = "_LayoutReg";
}
@model Messanger.Models.ConfirmEmail
@section registration {

    <body>
        <div class="container">

            <div class="take">
                <div class="logInPanel">
                    <div class="logo">
                        <p class="Text-logo">Namla</p>
                        <div style="width: 11px; height: 5px;"></div>
                        <img src="~/img/Logo-icon.png" />
                    </div>

                    <div class="title-registration">
                        <h3>
                            Нам нужно убедиться что почта действительно
                            принадлежит вам
                        </h3>

                        <h2>
                            @{
                                //Отправить данные на почту
                                //..                             
                               
                                if (dataStepStatic.code == null)
                                    dataStepStatic.code = RandomCodeConfirm.codeConfirm();
                                
                                
                                //string reg = @"(\S{1})(\S+?)(\S{1})(?=[@])";
                                string email = ViewBag.email;
                                char[] emailChar;
                                emailChar = dataStepStatic.email.ToCharArray();
                                for (int i = 1; i < emailChar.Length-1; i++)
                                {
                                    if (emailChar[i] != '@' && emailChar[i] != '.')
                                    {
                                        emailChar[i] = '*';
                                    }
                                }
                                string result = new string(emailChar);
                                <span>@result</span>
                            }
                            
                        </h2>


                        <div class="center-panelAlign">
                            @using (Html.BeginForm("ConfirmEmail", "Reg", FormMethod.Post))
                            {

                                <div class="text-info">
                                    <p>
                                        На почту был выслан код, пожалуйста введите его сюда
                                    </p>
                                </div>

                                <div class="GeneralError">
                                    @Html.ValidationSummary(true)
                                </div>

                                <div class="inputCode" id="errorMessageCode">
                                    @Html.ValidationMessageFor(x => x.codeConfirmEmail)

                                    <input class="text-box single-line" data-val="true"
                                           data-val-required="Пожалуйста, введите почту" id="codeConfirmEmail"
                                           name="codeConfirmEmail" placeholder="Код" type="text" value="">

                                </div>

                            

                            <div class="btnCode">
                                <div class="btn-confirm">
                                    <input type="submit" value="Подтвердить">
                                </div>
                            </div>


                            <div class="showingPass" id="resetCode">
                                @Html.ActionLink("Код не пришёл?", "ResetCode", "Reg")
                                </div>
                            }
                            @{
                                <h3>
                                    <span>@ViewBag.messageResetCode</span>
                                </h3>
                            }
                            <div>

                                <div class="reg-panelInFooter">
                                    <p>Вы ошиблись вводе данных?</p>
                                    @Html.ActionLink("Изменить", "reg", "Reg")
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </body>
}